<html ng-app="app">

<head>
  <title>Receptes</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css" type="text/css" /> -->
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="container" ng-controller="LlibreCtrl">
    <div class="row">
      <h1 class="text-center well">Llibres</h1>
      <div class="col-md-5  panel panel-success panel-body">
        <form class="form-horizontal form-group">
          <fieldset>
            <legend>Nou Llibre</legend>
            <label class="control-label" for="titol">Titol Llibre:</label>
            <input class="form-control input-sm" type="text" id="titol" ng-model="llibre.titol">

            <label class="control-label" for="isbn">Isbn :</label>
            <input class="form-control input-sm" type="text" id="isbn" ng-model="llibre.isbn">

            <label class="control-label" for="autors">Autors :</label>
            <input class="form-control input-sm" type="text" id="autors" ng-model="llibre.autors">
            <br>
            <div class="btn-group btn-group-justified">
              <a class="btn btn-default" ng-click="netejarCamps()">Cancelar</a>
              <a class="btn btn-success" ng-click="addLlibre()">acceptar</a>
            </div>
          </fieldset>
        </form>
      </div>


      <div class="col-md-5  col-md-offset-2 panel panel-warning panel-body">
        <form class="form-horizontal form-group ">
          <fieldset>
            <legend>Editar Llibre</legend>
            <label class="control-label" for="titol">Titol Llibre:</label>
            <input class="form-control input-sm" type="text" id="titol" ng-model="SelectedLlibre.titol">

            <label class="control-label" for="isbn">Isbn :</label>
            <input class="form-control input-sm" type="text" id="isbn" ng-model="SelectedLlibre.isbn">

            <label class="control-label" for="autors">Autors :</label>
            <input class="form-control input-sm" type="text" id="autors" ng-model="SelectedLlibre.autors">

            <br>
            <div class="btn-group btn-group-justified">
              <a class="btn btn-default" ng-click="removeLlibre()">Borrar</a>
              <a class="btn btn-warning" ng-click="updateLlibre()">Guardar</a>
            </div>

          </fieldset>
        </form>
      </div>

    </div>

    <div class="row">
      <hr>
      <br>
      <div class="panel panel-default" ng-repeat="l in llibres" ng-click="llibreSeleccionat($index)">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <strong ng-bind="l.titol"></strong>
        </div>
        <div class="panel-body">
          <p>isbn : {{l.isbn}}</p>
          <p>autors : {{l.autors}} </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts-->
  <!-- // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
  // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-resource.js"></script> -->
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-resource.js"></script>
  <!--<script src="lib/bootstrap/js/bootstrap.min.js"></script>-->
  <script src="app.js"></script>
</body>

</html>
