<div class="row">
  <div class="panel panel-success panel-body">
    <form class="form-horizontal form-group">
      <fieldset>
        <legend>Nou Llibre</legend>
        <label class="control-label" for="titol">Titol Llibre:</label>
        <input class="form-control input-sm" type="text" id="titol" ng-model="llibre.titol">

        <label class="control-label" for="isbn">Isbn :</label>
        <input class="form-control input-sm" type="text" id="isbn" ng-model="llibre.isbn">

        <label class="control-label" for="autors">Autors :</label>
        <input class="form-control input-sm" type="text" id="autors" ng-model="llibre.autors">
        <br>
        <div class="btn-group btn-group-justified">
          <a class="btn btn-default" ng-click="netejarCamps()">Cancelar</a>
          <a class="btn btn-success" ng-click="addLlibre()">acceptar</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
