<div class="row">
  <div class="panel panel-warning panel-body">
    <form class="form-horizontal form-group ">
      <fieldset>
        <legend>Editar Llibre</legend>
        <label class="control-label" for="titol">Titol Llibre:</label>
        <input class="form-control input-sm" type="text" id="titol" ng-model="llibre.titol">

        <label class="control-label" for="isbn">Isbn :</label>
        <input class="form-control input-sm" type="text" id="isbn" ng-model="llibre.isbn">

        <label class="control-label" for="autors">Autors :</label>
        <br>
        <select multiple="true" ng-model="selected">
          <option ng-repeat="a in llibre.autors" value="{{a._id}}" >{{a.nom}}  {{a.cognom}}</option>
        </select>
        <!-- <input class="form-control input-sm" type="text" id="autors" ng-model="llibre.autors"> -->
        <br>
        <div class="btn-group btn-group-justified">
          <a class="btn btn-default" ng-click="netejarCamps()">Cancelar</a>
          <a class="btn btn-success" ng-click="updateLlibre()">Guardar</a>
        </div>

      </fieldset>
    </form>
  </div>
</div>
