<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 panel panel-primary panel-body">
      <form name="Register" ng-submit="registrar()">
        <legend>Registrar-se a la plataforma</legend>
        <div class="form-group" ng-class="{'has-error' : Register.usuari.$invalid && !Register.usuari.$pristine}">
          <label for="usuari">Usuari</label>
          <input type="text" class="form-control" ng-model="dadesRegistre.username" name="usuari" ng-minlength="3" required>
          <br>
          <div class="alert alert-dismissible alert-danger" ng-show="Register.usuari.$error.minlength">
            <p> Massa curt, ha de tenir +3!</p>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : Register.contra.$invalid && !Register.contra.$pristine}">
          <label for="contrasenya">Contrasenya</label>
          <input type="password" class="form-control" ng-model="dadesRegistre.password" name="contra" ng-minlength="5" required>
          <br>
          <div class="alert alert-dismissible alert-danger" ng-show="Register.contra.$error.minlength">
            <p>Massa curta, ha de tenir  +5!</p>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : Register.contra2.$invalid && !Register.contra2.$pristine}">
          <label for="contrasenya2">Repeteix contrasenya</label>
          <input type="password" class="form-control" ng-model="dadesRegistre.password2" name="contra2" ng-minlength="5" required>
          <br>
          <div class="alert alert-dismissible alert-danger"
          ng-show="!Register.contra2.$pristine && !sonIguals()"
          >
            <p>No son iguals!</p>
          </div>
        </div>
        <div ng-if="error" class="alert alert-danger text-center">
          <strong>{{error}}</strong>
        </div>
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Registre" ng-disabled="Register.$invalid">
      </form>
    </div>
  </div>

</div>
